   <div class="header">
      <div class="container">
        <ul>
            <li>Welcome</li>
             <li>Portfolio</li>
              <li>Blog</li>
              <li>About</li> 
          <li>Shaq Alberts</li>        
        </ul>      
      
          </div>
    </div>

    <div class="jumbotron" >
       <div class="container">  
        <div class="main">
  <style>
   .jumbotron { 
  background: url(http://images.fineartamerica.com/images/artworkimages/mediumlarge/1/boston-skyline-rick-berk.jpg) no-repeat center center fixed; 
  height: 1000px; }  </style>     
          
 <style>
 .main h1 {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;  
  position: fixed;
  top: 200px;
  text-align: center;
}
 }
 </style>
  
<h1>Hello. My name is Shaq Alberts and I have creative ideas and build          websites </h1>

          <a href="#" class="btn">View my work</a>
           <style> 
            .btn { 
              display: inline;
              padding: 20px 40px;
              border: 1px solid none;
              background-color: #333333;
              color: white;
              text-decoration: none;
              position: fixed;
            }
          </style>
     
       </div>
      </div>
   </div>
          
<a href="[https://twitter.com/shaqdoee]">
<img title="Twitter" alt="Twitter" src="https://socialmediawidgets.files.wordpress.com/2014/03/twitter1.png" width="35" height="35" />
</a>
<a href="[https://www.linkedin.com/pub/shaquille-alberts/34/501/a7]">
<img title="LinkedIn" alt="LinkedIn" src="https://socialmediawidgets.files.wordpress.com/2014/03/linkedin1.png" width="35" height="35" />
</a>
<a href="[https://www.facebook.com/shaquille.alberts">
<img title="Facebook" alt="Facebook" src="https://socialmediawidgets.files.wordpress.com/2014/03/facebook1.png" width="35" height="35" />
</a>
