<html>
   <body>
    <div class="header" >
      <div class="container">
        <ul class="nav">
            <li> Welcome </li>
             <li> Portfolio </li>
              <li> Blog </li>
              <li> About </li>  
        </ul>       
      </div>
    </div>

    <div class="jumbotron" >
       <div class="container">  
        <div class="main">
      <h1>Shaq Alberts</h1>
  <a href="#" class="btn">View my work</a>
            </div>
      </div>
   </div>
  
      <div class="footer">
       <div class="container">
         <div class="social media">      
<a href="[https://twitter.com/shaqdoee]">
<img title="Twitter" alt="Twitter" src="https://socialmediawidgets.files.wordpress.com/2014/03/twitter1.png" width="35" height="35" />
</a>
<a href="[https://www.linkedin.com/pub/shaquille-alberts/34/501/a7]">
<img title="LinkedIn" alt="LinkedIn" src="https://socialmediawidgets.files.wordpress.com/2014/03/linkedin1.png" width="35" height="35" />
</a>
<a href="[https://www.facebook.com/shaquille.alberts">
<img title="Facebook" alt="Facebook" src="https://socialmediawidgets.files.wordpress.com/2014/03/facebook1.png" width="35" height="35" />
</a>
       </div>
    </div>
    </div>
    <html>
  <body>